body {
  background-image: url(/images/bg.png);
  background-repeat: no-repeat;
  background-color: #a3a3a3;
  background-position: -300px 0px;
}

.container {
  background-color: white;
  padding: 30px;
  border: 2px solid #a3a3a3;
  margin-top: 30px;
}

#header h1 a,
#header h1 a:visited {
  text-decoration: none;
  color: black;
}

#header h1 a:hover {
  text-decoration: underline;
  color: black;
}

.video {
  margin-bottom: 2em;
}

.navlink-wrapper {
  margin-bottom: 1em;
  border-bottom: 1px dotted #DDD;
}

.footer {
  border-top: 1px solid #ddd;
  padding: 10px;
}
