@import url(https://fonts.googleapis.com/css?family=Roboto);

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #607D8B;
  color: white;
  height: 8em;
}

body {
  background: url(../img/skyline.jpg) no-repeat center center fixed;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 1440px;
  color: #212121;
  font-family: 'Roboto', sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.secondary {
  color: #757575;
}

h1, h4 {
  margin-bottom: 0;
}

#cards {
  margin-top: 3em;
}

.content-card {
  background-color: #ffffff;
}

.profile {
  margin: 2.1rem 0.25em;
}

.resources {
}

.resources a {
  color: #009688;
  font-size: 1em;
}

.resources a i {
  font-size: 2em;
  position: relative;
  top: 0.1em;
  margin-right: 0.2em;
  margin-bottom: 0.5em;
}

.resources ul {
  margin: 0;
  padding: 0;
  height: 2em;
}

.resources ul li {
  display: inline;
  margin-right: 0.2em;
}

.social {
}

.social a {
  color: #009688;
  font-size: 1em;
}

.social a i {
  font-size: 2em;
  position: relative;
  top: 0.1em;
  margin-right: 0.2em;
  margin-bottom: 0.5em;
}

.social ul {
  margin: 0;
  padding: 0;
  height: 2em;
}

.social ul li {
  display: inline;
  margin-right: 0.2em;
}

.navbar {
  background-color: #512DA8;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5em;
}

.navbar ul {
  margin-top: 0;
}

.navbar ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 2.5em;
  margin-right: 2em;
  padding-top: 0.5em;
}

.navbar ul li.active {
  border-bottom: 3px solid #ffffff;
}

.navbar a {
  color: white;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

