<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>

  <script src="http://widgets.twimg.com/j/2/widget.js"></script>

  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection"> 

  {% include analytics.html %}
</head>
 
<body>

  <div class="container">
  	<div class="span-24" id="header">
      <h1><a href="/">Ehren Murdick</a></h1>
      <div class="tagline">A work in progress</div>
  	</div>

    <div class="span-4 navbar">
      {% include nav.html %}
    </div>

  	<div class="span-14 border content">
      {% if page.url == "/index.html" %}
        <h2>{{ site.posts.first.title }}</h2>
        {{ site.posts.first.content }}
      {% else %}
        <h2>{{ page.title }}</h2>
        {{ content }}
      {% endif %}
  	</div>

  	<div class="span-6 last">
      {% include twitter.html %}
  	</div>
	
  	<div class="span-24 footer">
      <center>
        <em>This site is open source. <a href="https://github.com/ehrenmurdick/ehrenmurdick.github.com">You can check it out on github</a></em>
      </center>
  	</div>
  </div>

</body>
</html>
