<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>

  <script src="http://widgets.twimg.com/j/2/widget.js"></script>

  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection"> 

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25205060-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
 
<body>

  <div class="container">
  	<div class="span-24" id="header">
      <h1><a href="/">Ehren Murdick</a></h1>
  	</div>

    <div class="span-4">
      {% include nav.html %}
    </div>

  	<div class="span-14 border">
      {% if page.url == "/index.html" %}
        <h2>{{ site.posts.first.title }}</h2>
        {{ site.posts.first.content }}
      {% else %}
        <h2>{{ page.title }}</h2>
        {{ content }}
      {% endif %}
  	</div>

  	<div class="span-6 last">
      {% include twitter.html %}
  	</div>
	
  	<div class="span-24 footer">
      <center>
        <em>This site is open source. <a href="https://github.com/ehrenmurdick/ehrenmurdick.github.com">You can check it out on github</a></em>
      </center>
  	</div>
  </div>

</body>
</html>
