<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection"> 
</head>
 
<body>

  <div class="container">
  	<div class="span-24" id="header">
      <h1><a href="/">Ehren Murdick</a></h1>
  	</div>

    <div class="span-4">
      {% for post in site.posts limit:5 %}
        <div><a href="{{ post.url }}">{{ post.title }}</a></div>
        <em>{{ post.date | date_to_long_string }}</em>
      {% endfor %}
    </div>

  	<div class="span-14 colborder">
      {% if page.url == "/index.html" %}
        <h2>{{ site.posts.first.title }}</h2>
        {{ site.posts.first.content }}
      {% else %}
        <h2>{{ page.title }}</h2>
        {{ page.content }}
      {% endif %}
  	</div>

  	<div class="span-6 last">
  	</div>
	
  	<div class="span-24">
  	</div>
  </div>

</body>
</html>
