<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://ehren.io/funfunfunapp/funfunfunapp.ipa</string>
		<key>displayImageURL</key>
		<string>https://placehold.it/57/?text=FFA</string>
		<key>fullSizeImageURL</key>
		<string>https://placehold.it/512/?text=FFA</string>
	</dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>app.ehrenio.funfunfunapp</key>
		<string>funfunfunapp-dev-1</string>
	</dict>
	<key>signingCertificate</key>
	<string>Apple Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>Q2HK4MPY3D</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
